.DS_Store
*.log
*/venv
.idea
*.tfstate
*.tfstate.*
.terraform
**.terraform.lock.*
**/*.json
**logs/
**/*.env
**__pycache__/
.history
**/ny_taxi_postgres_data/
*.csv
*.parquet
*.tfvars
.ipynb_checkpoints
.vscode
*temp
*.xlsx
*.duckdb
